In [ ]:
import pandas as pd

In [ ]:
dir(pd)

In [ ]:
# First upload Salaries.csv
#df=pd.read_csv("/content/Salaries.csv")
df=pd.read_csv("Salaries.csv")

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.head(2)

In [ ]:
df.info()

In [ ]:
df['rank']

In [ ]:
df.describe()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.phd.mean()

In [ ]:
df.phd.describe()

In [ ]:
df.phd.quantile(0.25)

In [ ]:
df.salary.quantile(0.50)

In [ ]:
df.salary.quantile(0.10)

In [ ]:
df.phd.std()

In [ ]:
#Selecting a column
df.salary # does not work if column name contains blank space or dot (eg. "No. of Columns")
#           for that enclose column name inside square bracket.

In [ ]:
df['salary'] # will work if column name has blank space or dot eg. df["No. of Columns"]

In [ ]:
result1=df.salary
result1

In [ ]:
# 2 data structures in pandas: 1. Series 2. DataFrame
# Pandas Series: is a one-dimensional labeled array whose object size cannot be changed.
#
# Pandas DataFrame: is a two-dimensional structure with columns and rows whose size can be changed.
# You can also think of it as a dictionary of Series objects.
type(result1)

In [ ]:
result2=df[['salary','rank']]

In [ ]:
result2

In [ ]:
type(result2)

In [ ]:
df.columns

In [ ]:
# Extract particular columns in a new dataframe
newdf=df[['salary','service','phd']]
newdf

In [ ]:
df['discipline'].value_counts() # category and its value

In [ ]:
df['rank'].value_counts()

In [ ]:
# in rank 3 values: Asso,Asst,Prof. Group by this and find mean of each category
df.groupby(['rank']).salary.mean() # group by rank and finds mean of all numeric columns

In [ ]:
df.groupby(["discipline"]).count()

In [ ]:
df.groupby(["discipline","rank"]).count()

In [ ]:
df.groupby(["discipline","rank","sex"]).count()

In [ ]:
df.groupby(["discipline","rank","sex"]).mean() # avg sal of discipline B's Male Prof is: 137989.076923

In [ ]:
df.groupby('rank')[['salary','phd']].mean() # group by rank and find mean of specified columns only

In [ ]:
df[df.salary>120000]

In [ ]:
df.shape

In [ ]:
df.shape[1]

In [ ]:
df[df.salary>120000].shape[0] # count of prof having sal > 120000

In [ ]:
# Create a dataframe having all Males whose salary is > 1,50,000/-

newdf=df[(df['sex']=='Male') & (df['salary']>150000)]
#newdf=df[(df.sex=='Male') & (df.salary>150000)]
newdf

In [ ]:
#newdf.count()
# OR
newdf.shape[0]

In [ ]:
df[(df['service']>15) | (df['salary']>100000)]
#df[(df['service']>15) | (df['salary']>100000)].shape[0]

In [ ]:
df # will display all records

In [ ]:
# to extract only particular index record - say 5th index record
df[5] # will raise error

In [ ]:
df.iloc[4] # iloc -> index location for row

In [ ]:
df.iloc[1:4, 0:3]  # row 1 to 3, col 0 to 2

In [ ]:
df.iloc[0:10,0:3] # 0 to 9 records, 0 to 2 columns

In [ ]:
df.iloc[0:2,] # rows 0 to 1 and all columns, Or df.iloc[0:2]

In [ ]:
df.iloc[:,4] #all rows, index 4 column

In [ ]:
df.iloc[:,0:3]

In [ ]:
df.iloc[[10,20,22,24],] # only particular rows with all columns df.iloc[[10,20,22,24]]

In [ ]:
df.loc[:,['rank','sex']] # without mentioning index no. - mention col name

In [ ]:
df.loc[[0,1,2],['discipline','rank']]

In [ ]:
df.iloc[::5] # start value:0, end value:77, step value:5, all rows and columns with step value 5

In [ ]:
df.iloc[10:30:4]

In [ ]:
df.iloc[::-1] # all records in reverse order